.footer__link{
  margin: 0 18px 0 0;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: inline;
  transform: opacity easer;
  padding: 0;
}
.footer__link:last-of-type{
  margin-right: 0;
}
.footer__link:hover{
  opacity: 0.8;
}
@media screen and (max-width:767px) {
  .footer__link{
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
    display: block;
  }
}